deep-translator==1.11.4
ffmpeg-python==0.2.0
Flask==2.2.2
huggingface-hub==0.20.3
langchain==0.1.9
langchain-community==0.0.24
pandas
pytube==15.0.0
waitress==3.0.0
Werkzeug==2.2.2
langchain-groq
faster-whisper
python-dotenv